body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.container {
  background: linear-gradient(90deg, rgba(100, 100, 100, 0.4), rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.9), rgba(100, 100, 100, 0.4)), url("austin-neill-1t0yy9lspye-unsplash2.jpg");
  background-size: cover;
}

/*.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}*/

#title {
  display: flex;
  justify-content: center;
  /*grid-area: 1/2/2/3;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  color: black;*/
}

#description {
  display: flex;
  justify-content: center;
  /*grid-area: 2/2/3/3;
  text-align: center;*/
}

.main {
  display: flex;
  justify-content: center;
}

#survey-form {
  background-color: rgba(25, 25, 25, 0.6);
  width: 40vw;
}

.footer {
  display: flex;
  justify-content: center;
}
